nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "054b2605eafa2836",
        "type": "openApi-red",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/622a088ed66710395e36bebf",
        "api": "Subscriptions",
        "server": "",
        "alternServer": false,
        "operation": "createSubscription",
        "operationData": {
            "tags": [
                "Subscriptions"
            ],
            "summary": "Create a subscription",
            "description": "An Extended Web Thing should support subscriptions for the specific resource (DHT22).",
            "operationId": "createSubscription",
            "x-operationType": "https://schema.org/CreateAction",
            "requestBody": {
                "description": "Create a new subscription",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "callbackUrl",
                                "description",
                                "resource",
                                "type"
                            ],
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "My subscription for SmartDoor's current state"
                                },
                                "description": {
                                    "type": "string",
                                    "example": "A subscription to get info about SmartDoor's current state"
                                },
                                "type": {
                                    "type": "string",
                                    "example": "webhook (callback)"
                                },
                                "callbackUrl": {
                                    "type": "string",
                                    "example": "http://172.16.1.5:5000/accumulate"
                                },
                                "resource": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "property"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "state"
                                        }
                                    }
                                },
                                "expires": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "throttling": {
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 5
                                }
                            },
                            "xml": {
                                "name": "SubscriptionRequestBody"
                            },
                            "$$ref": "http://172.16.1.1:5001/things/622719d5e414948dec80bcdc#/components/schemas/SubscriptionRequestBody"
                        }
                    }
                },
                "required": true
            },
            "responses": {
                "200": {
                    "description": "OK"
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "createSubscription",
            "path": "/subscriptions"
        },
        "errorHandling": "Standard",
        "parameters": [
            {
                "id": "requestBody",
                "name": "Request body",
                "in": "",
                "schema": {
                    "required": [
                        "callbackUrl",
                        "description",
                        "resource",
                        "type"
                    ],
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "example": "My subscription for SmartDoor's current state"
                        },
                        "description": {
                            "type": "string",
                            "example": "A subscription to get info about SmartDoor's current state"
                        },
                        "type": {
                            "type": "string",
                            "example": "webhook (callback)"
                        },
                        "callbackUrl": {
                            "type": "string",
                            "example": "http://172.16.1.5:5000/accumulate"
                        },
                        "resource": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": "property"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "state"
                                }
                            }
                        },
                        "expires": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "throttling": {
                            "type": "integer",
                            "format": "int32",
                            "example": 5
                        }
                    },
                    "xml": {
                        "name": "SubscriptionRequestBody"
                    },
                    "$$ref": "http://172.16.1.1:5001/things/622719d5e414948dec80bcdc#/components/schemas/SubscriptionRequestBody"
                },
                "value": "{\"name\":\"MySub\",\"description\":\"Test subscription\",\"type\":\"webhook (callback)\",\"callbackUrl\":\"http://172.16.1.1:5001\",\"resource\":\"state\"}",
                "required": true,
                "isActive": true,
                "description": "Create a new subscription",
                "type": "json",
                "allowedTypes": [
                    "json",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "keys": [
                    "callbackUrl",
                    "description",
                    "resource",
                    "type",
                    "expires",
                    "name",
                    "throttling"
                ]
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "",
        "outputs": 1,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "fe6bb0f7eea58326"
            ]
        ]
    },
    {
        "id": "fe6bb0f7eea58326",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "9ab26bddbe81fe90",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "da198c02e1097f83"
            ]
        ]
    },
    {
        "id": "da198c02e1097f83",
        "type": "openApi-red",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "openApiUrl": "https://petstore3.swagger.io/api/v3/openapi.json",
        "api": "pet",
        "server": "",
        "alternServer": false,
        "operation": "addPet",
        "operationData": {
            "tags": [
                "pet"
            ],
            "summary": "Add a new pet to the store",
            "description": "Add a new pet to the store",
            "operationId": "addPet",
            "requestBody": {
                "description": "Create a new pet in the store",
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "photoUrls"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "example": 10
                                },
                                "name": {
                                    "type": "string",
                                    "example": "doggie"
                                },
                                "category": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Dogs"
                                        }
                                    },
                                    "xml": {
                                        "name": "category"
                                    },
                                    "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                                },
                                "photoUrls": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "string",
                                        "xml": {
                                            "name": "photoUrl"
                                        }
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "xml": {
                                            "name": "tag"
                                        },
                                        "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                                    }
                                },
                                "status": {
                                    "type": "string",
                                    "description": "pet status in the store",
                                    "enum": [
                                        "available",
                                        "pending",
                                        "sold"
                                    ]
                                }
                            },
                            "xml": {
                                "name": "pet"
                            },
                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                        }
                    },
                    "application/xml": {
                        "schema": {
                            "required": [
                                "name",
                                "photoUrls"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "example": 10
                                },
                                "name": {
                                    "type": "string",
                                    "example": "doggie"
                                },
                                "category": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Dogs"
                                        }
                                    },
                                    "xml": {
                                        "name": "category"
                                    },
                                    "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                                },
                                "photoUrls": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "string",
                                        "xml": {
                                            "name": "photoUrl"
                                        }
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "xml": {
                                            "name": "tag"
                                        },
                                        "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                                    }
                                },
                                "status": {
                                    "type": "string",
                                    "description": "pet status in the store",
                                    "enum": [
                                        "available",
                                        "pending",
                                        "sold"
                                    ]
                                }
                            },
                            "xml": {
                                "name": "pet"
                            },
                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                        }
                    },
                    "application/x-www-form-urlencoded": {
                        "schema": {
                            "required": [
                                "name",
                                "photoUrls"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "example": 10
                                },
                                "name": {
                                    "type": "string",
                                    "example": "doggie"
                                },
                                "category": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Dogs"
                                        }
                                    },
                                    "xml": {
                                        "name": "category"
                                    },
                                    "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                                },
                                "photoUrls": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "string",
                                        "xml": {
                                            "name": "photoUrl"
                                        }
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "xml": {
                                        "wrapped": true
                                    },
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "xml": {
                                            "name": "tag"
                                        },
                                        "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                                    }
                                },
                                "status": {
                                    "type": "string",
                                    "description": "pet status in the store",
                                    "enum": [
                                        "available",
                                        "pending",
                                        "sold"
                                    ]
                                }
                            },
                            "xml": {
                                "name": "pet"
                            },
                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                        }
                    }
                },
                "required": true
            },
            "responses": {
                "200": {
                    "description": "Successful operation",
                    "content": {
                        "application/xml": {
                            "schema": {
                                "required": [
                                    "name",
                                    "photoUrls"
                                ],
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 10
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "doggie"
                                    },
                                    "category": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "format": "int64",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dogs"
                                            }
                                        },
                                        "xml": {
                                            "name": "category"
                                        },
                                        "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                                    },
                                    "photoUrls": {
                                        "type": "array",
                                        "xml": {
                                            "wrapped": true
                                        },
                                        "items": {
                                            "type": "string",
                                            "xml": {
                                                "name": "photoUrl"
                                            }
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "xml": {
                                            "wrapped": true
                                        },
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "xml": {
                                                "name": "tag"
                                            },
                                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "description": "pet status in the store",
                                        "enum": [
                                            "available",
                                            "pending",
                                            "sold"
                                        ]
                                    }
                                },
                                "xml": {
                                    "name": "pet"
                                },
                                "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "photoUrls"
                                ],
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 10
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "doggie"
                                    },
                                    "category": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "format": "int64",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dogs"
                                            }
                                        },
                                        "xml": {
                                            "name": "category"
                                        },
                                        "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                                    },
                                    "photoUrls": {
                                        "type": "array",
                                        "xml": {
                                            "wrapped": true
                                        },
                                        "items": {
                                            "type": "string",
                                            "xml": {
                                                "name": "photoUrl"
                                            }
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "xml": {
                                            "wrapped": true
                                        },
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "xml": {
                                                "name": "tag"
                                            },
                                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "description": "pet status in the store",
                                        "enum": [
                                            "available",
                                            "pending",
                                            "sold"
                                        ]
                                    }
                                },
                                "xml": {
                                    "name": "pet"
                                },
                                "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "405": {
                    "description": "Invalid input"
                }
            },
            "security": [
                {
                    "petstore_auth": [
                        "write:pets",
                        "read:pets"
                    ]
                }
            ],
            "__originalOperationId": "addPet",
            "path": "/pet"
        },
        "errorHandling": "Standard",
        "parameters": [
            {
                "id": "requestBody",
                "name": "Request body",
                "in": "",
                "schema": {
                    "required": [
                        "name",
                        "photoUrls"
                    ],
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer",
                            "format": "int64",
                            "example": 10
                        },
                        "name": {
                            "type": "string",
                            "example": "doggie"
                        },
                        "category": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "example": 1
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Dogs"
                                }
                            },
                            "xml": {
                                "name": "category"
                            },
                            "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Category"
                        },
                        "photoUrls": {
                            "type": "array",
                            "xml": {
                                "wrapped": true
                            },
                            "items": {
                                "type": "string",
                                "xml": {
                                    "name": "photoUrl"
                                }
                            }
                        },
                        "tags": {
                            "type": "array",
                            "xml": {
                                "wrapped": true
                            },
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "xml": {
                                    "name": "tag"
                                },
                                "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Tag"
                            }
                        },
                        "status": {
                            "type": "string",
                            "description": "pet status in the store",
                            "enum": [
                                "available",
                                "pending",
                                "sold"
                            ]
                        }
                    },
                    "xml": {
                        "name": "pet"
                    },
                    "$$ref": "https://petstore3.swagger.io/api/v3/openapi.json#/components/schemas/Pet"
                },
                "value": "{\"name\":\"doggie\",\"photoUrls\":[\"quis Excepteur laboris ipsum reprehenderit\",\"dolore eu est enim\"],\"id\":10,\"category\":{\"id\":1,\"name\":\"Dogs\"},\"tags\":[{\"id\":98661638,\"name\":\"in in ipsum ut\"},{\"id\":85993448,\"name\":\"Duis Excepteur proident occaecat minim\"}],\"status\":\"available\"}",
                "required": true,
                "isActive": true,
                "description": "Create a new pet in the store",
                "type": "json",
                "allowedTypes": [
                    "json",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "keys": [
                    "name",
                    "photoUrls",
                    "category",
                    "id",
                    "status",
                    "tags"
                ]
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "application/xml",
        "outputs": 1,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "8119fea0392a09a6"
            ]
        ]
    },
    {
        "id": "8119fea0392a09a6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "a77023ba0c97f3fa",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "82aa2752fd0ae44e",
        "type": "mongodb in",
        "z": "f6f2187d.f17ca8",
        "mongodb": "688d2c635bb0f177",
        "name": "",
        "collection": "things",
        "operation": "find",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "a77023ba0c97f3fa"
            ]
        ]
    },
    {
        "id": "42ddc16752957dfb",
        "type": "openApi-red",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/6226826e6f30d4f7ea2c80a7",
        "api": "Properties",
        "server": "",
        "alternServer": false,
        "operation": "retrieveTempProperty",
        "operationData": {
            "tags": [
                "Properties"
            ],
            "summary": "Retrieve the value of a property (temperature)",
            "description": "In response to an HTTP GET request on a Property URL, an Extended Web Thing must return an array that lists recent values of that Property.",
            "operationId": "retrieveTempProperty",
            "parameters": [
                {
                    "name": "page",
                    "description": "Pagination first (page) parameter",
                    "in": "query",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    },
                    "$$ref": "http://172.16.1.1:5001/things/6226826e6f30d4f7ea2c80a7#/components/parameters/pageParam"
                },
                {
                    "name": "perPage",
                    "description": "Pagination second (per page) parameter",
                    "in": "query",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "successful operation",
                    "headers": {
                        "Result-Count": {
                            "schema": {
                                "type": "integer",
                                "example": 562
                            },
                            "description": "The Result-Count header contains the total number of results."
                        }
                    },
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "x-kindOf": "http://www.w3.org/ns/sosa/Observation",
                                    "properties": {
                                        "temp": {
                                            "type": "integer",
                                            "example": 25,
                                            "x-kindOf": "http://www.w3.org/ns/sosa/hasSimpleResult"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time",
                                            "x-kindOf": "http://www.w3.org/ns/sosa/resultTime"
                                        }
                                    },
                                    "$$ref": "http://172.16.1.1:5001/things/6226826e6f30d4f7ea2c80a7#/components/schemas/TempMeasurement"
                                }
                            }
                        }
                    }
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "retrieveTempProperty",
            "path": "/properties/temperature"
        },
        "errorHandling": "Standard",
        "parameters": [
            {
                "id": "pagequery",
                "name": "page",
                "in": "query",
                "required": false,
                "value": "",
                "isActive": false,
                "type": "num",
                "allowedTypes": [
                    "num",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "description": "Pagination first (page) parameter",
                "schema": {
                    "type": "integer"
                },
                "keys": null
            },
            {
                "id": "perPagequery",
                "name": "perPage",
                "in": "query",
                "required": false,
                "value": "",
                "isActive": false,
                "type": "num",
                "allowedTypes": [
                    "num",
                    "jsonata",
                    "msg",
                    "flow",
                    "global"
                ],
                "description": "Pagination second (per page) parameter",
                "schema": {
                    "type": "integer"
                },
                "keys": null
            }
        ],
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "x": 1080,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "90aadc0d00dd95f9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "60e7a4db7cdcac0b"
            ]
        ]
    },
    {
        "id": "df2305654c4bd51a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "60e7a4db7cdcac0b",
        "type": "mongodb in",
        "z": "f6f2187d.f17ca8",
        "mongodb": "011089313ad7e882",
        "name": "Find Temperature (ORION)",
        "collection": "entities",
        "operation": "find",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "19ca07b6919ae5e1"
            ]
        ]
    },
    {
        "id": "8dbdcda7962788bc",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 720,
        "wires": []
    },
    {
        "id": "673ef30530c4b312",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "054b2605eafa2836"
            ]
        ]
    },
    {
        "id": "d3389922f7568f3c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "e28bb3ca4d63cc50"
            ]
        ]
    },
    {
        "id": "e28bb3ca4d63cc50",
        "type": "openApi-red",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "openApiUrl": "http://172.16.1.1:5001/things/622a088ed66710395e36bebf",
        "api": "Actions",
        "server": "",
        "alternServer": false,
        "operation": "executeLockAction",
        "operationData": {
            "tags": [
                "Actions"
            ],
            "summary": "Execute a lock action",
            "description": "In response to an HTTP POST request on an Action URL with valid parameters as request body, an Extended Web Thing must either reject the request with the appropriate status code or queue a task to run the action and return the status of that action in a 201 Created response. The action may not run immediately. The Location HTTP header identifies the URL to use to retrieve the most recent update on the action's status.",
            "operationId": "executeLockAction",
            "responses": {
                "204": {
                    "description": "NO RESPONSE"
                },
                "404": {
                    "description": "Not found"
                }
            },
            "__originalOperationId": "executeLockAction",
            "path": "/actions/lock"
        },
        "errorHandling": "Standard",
        "parameters": [],
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 1,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "aa98d870c897f686"
            ]
        ]
    },
    {
        "id": "aa98d870c897f686",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "9398bbb288ce67bb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "function getRandomInt(max) {\n  return Math.floor(Math.random() * max);\n} \n\nlet temp = getRandomInt(60);\nlet tempVal = temp.toString();\n\nmsg.payload = {\n    \"id\": \"DHT22sensor_temperature\",\n    \"type\": \"property\",\n    \"Thing\": \"DHT22_sensor\",\n    \"name\": \"Temperature\",\n    \"property\": \"temperature\",\n    \"values\": {\n        \"temp\": tempVal,\n        \"timestamp\": \"2020-06-14T14:30:00.000Z\"\n    }\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nfunction getRandomInt(max) {\n  return Math.floor(Math.random() * max);\n} \n\nvar randTemp = getRandomInt(60);\n\nif (flow.get(\"temp\") === undefined) {\n    flow.set(\"temp\", randTemp);\n}",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 820,
        "wires": [
            [
                "df9b5d8d66c77b3a"
            ]
        ]
    },
    {
        "id": "df9b5d8d66c77b3a",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.1.7:1026/v2/entities/?options=keyValues",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "df2305654c4bd51a"
            ]
        ]
    },
    {
        "id": "d1d5d7a287f3deb0",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Inject",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "3966c0256ff36cca"
            ]
        ]
    },
    {
        "id": "3966c0256ff36cca",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.1.7:1026/v2/entities/DHT22sensor_temperature",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "9398bbb288ce67bb"
            ]
        ]
    },
    {
        "id": "1537361b86e71261",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "console.log(\"too hot\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "19ca07b6919ae5e1",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload[0].attrs.values.value.temp",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "0c6af71784cebca9"
            ]
        ]
    },
    {
        "id": "0c6af71784cebca9",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "1537361b86e71261",
                "8dbdcda7962788bc"
            ]
        ]
    },
    {
        "id": "688d2c635bb0f177",
        "type": "mongodb",
        "hostname": "172.16.1.6",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "mongo",
        "name": ""
    },
    {
        "id": "011089313ad7e882",
        "type": "mongodb",
        "hostname": "172.16.1.6",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "orion",
        "name": ""
    }
]